/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*CSS*/


/*col&font*/

.wrap {
    font-family: sans-serif;
    font-weight: bold;
}

.col_10 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col_10_no_f {
    width: 100%;
    display: flex;
}

.col_9 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.col_8 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.col_7 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.col_6 {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.font_h1 {
    color: #161c2c;
    font-size: 3.5em;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.3em;
    line-height: 2;
}

.font_h2 {
    font-size: 1.8em;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

.font_p {
    font-size: 1.3em;
    letter-spacing: 0.1em;
    line-height: 3.5;
}

.font_p_s {
    font-size: 0.78em;
    line-height: 2.5;
    font-weight: normal;
}

.font_normal {
    font-weight: normal;
    text-decoration: underline;
}

.font_oblique {
    font-weight: lighter;
    color: #7382a3;
    font-style: oblique;
    font-size: 1.2rem;
}

.button_fff {
    bottom: 40px;
    background-color: rgba(201, 201, 201, 0.383);
    letter-spacing: 1px;
    display: inline-block;
    padding: 17px 30px 15px 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    color: #fff;
    text-shadow: -1px -1px 3px #7b7b7b, 2px 2px 4px #b1b1b1;
}

.font_a {
    font-size: 2em;
    text-decoration: none;
}

.straight {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
}

.color_blue {
    color: #3f4b64;
}

.color_fff {
    color: #fff;
}

.bg_gray {
    background-color: #f2f2f2;
}

.font_slogan_straight {
    margin-bottom: 40px;
}


/*header*/

.header {
    width: 96%;
    top: 0;
    padding: 10px 2%;
    position: fixed;
    z-index: 1000;
    margin-bottom: 30px;
    background-color: #3f4b64;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.menu {
    display: flex;
}

.menu_list {
    position: relative;
}

.menu_list a {
    padding: 5px 0;
    margin: 0 15px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-bottom: 3px solid #3f4b64;
    letter-spacing: 1px;
}

.menu_list a:hover:before {
    animation-name: OXXO;
    animation-duration: 1s;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
}

@keyframes OXXO {
    0% {
        width: 0%;
        background: #eecc9c;
    }
    50% {
        width: 100%;
        background: #eecc9c;
    }
    100% {
        width: 0%;
        background: #eecc9c;
    }
}


/*漢堡選單*/

.hamburger {
    font-size: 30px;
    color: #ffffff;
    display: none;
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hamburger {
        display: block;
    }
    }
    .menu {
        width: 100%;
    }
    .rwd_on {
        width: 100%;
        top: 40px;
        background-color: #fff;
        z-index: 10;
        display: none;
        flex-wrap: wrap;
    }
    .menu_rwd {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .menu_list {
        width: 100%;
    }
    .menu_list a {
        margin: 0;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }
    .down_box {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px 0;
        text-align: center;
    }
    .pointer {
        padding: 10px 0;
    }
    .header_rwd_icon {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .col_9,
    .col_8,
    .col_7,
    .col_6 {
        width: 100%;
    }
    .font_h1 {
        letter-spacing: normal;
        font-size: 2em;
    }
    .font_p{
        font-size: 1em;
    }
}

.content_01 {
    justify-content: center;
    margin-top: 70px;
    z-index: 100;
    margin-top: 30px;
    align-items: center;
    background: url(https://raw.githubusercontent.com/ching-hsuan-huang/PORTFOLIO/main/img/3333.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 500px;
}

.h1_1 {
    text-align: right;
    padding: 100px 60px;
    background-color: rgb(225, 225, 225);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 20px 23px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
    border-radius: 5px;
}

.h1_1 p {
    color: rgb(255, 255, 255);
}

.content_01_word_all {
    margin-top: 70px;
    z-index: 4;
}

.content_01_about_me {
    border-radius: 10px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    text-align: right;
    font-size: 80px;
    margin-right: 5%;
    margin-top: 70px;
    padding: 50px 0;
    line-height: 1.2;
    position: relative;
    z-index: 0;
    color: #fff;
    /** background-color: #fff;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
**/
}

.content_01_img img {
    width: 100%;
}

.contact_me {
    color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.contact {
    position: absolute;
    right: 0;
    text-align: left;
    padding: 50px 40px;
    margin-top: 100px;
    display: inline-block;
    border-radius: 10px;
    background-color: #f5d4a7;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.email {
    color: #5d6a87;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1.5;
}

.blue_word_box {
    border-radius: 5px;
    text-align: center;
    display: flex;
    color: #fff;
    z-index: 5;
    background-color: #7382a3;
    padding: 80px 0px;
    box-shadow: 0 1px 0 #657291, 0 2px 0 #657291, 0 3px #657291, 0 4px #63708e, 0 5px 0 #5d6a87, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    ;
}

.mt_20 {
    margin-top: 20px;
}

.me {
    width: 40%;
    margin: 30px 30% 15px 30%;
}

.me img {
    border-radius: 50%;
}

.content_02 {
    position: relative;
    z-index: 0;
    margin-top: -100px;
}

.content_02_up {
    position: relative;
    z-index: 1;
}

.h1_2 {
    width: 100%;
    margin: 10% 0 5% 20%;
}

.about_me_word {
    width: 50%;
    line-height: 2;
    z-index: 0;
}

.about_me_word_p {
    font-size: 1.5rem;
    background-color: #7382a3;
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
}

.about_me_ul{
   list-style: disc;
    margin-left: 60px;
    font-weight: lighter;
    color: #161c2c;
}

.about_me_ul li{
   font-size: 1.4rem;
}

.slogan {
    margin-right: 2%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.font_slogan {
    font-size: 17em;
    font-weight: bold;
    color: #0041dd;
    letter-spacing: 0.1em;
}

.slogan_all {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.slogan_10 {
    margin-left: 0.3em;
}

.h1_3 {
    text-align: right;
    position: relative;
    margin: 30% 0 5% -30%;
    width: 40%;
}



@media screen and (max-width: 1440px) {
   .h2_1{
       width: 80%;
       margin: 30px 10%;
       padding: 40px 4%;
   }
   
}



@media screen and (max-width: 1190px) {
    .content_01_about_me {
        font-size: 80px;
    }
    .h1_3 {
        margin: 60% 0 5% -30%;
    }
    .content_03_left_all{
        flex-direction: column;
        align-content: center;
    }
}



@media screen and (max-width: 1000px) {
    .content_03_bottom {
        flex-wrap: wrap;
    }
    .people_img {
        width: 90%;
        min-width: 0;
        margin: 0 auto;
    }
    .h1_4 {
        width: 90%;
        margin: 10%;
        background-color: none;
        padding: 10%;
    }
    .h1_4_title {
        margin: 50px 0 0 0;
    }
}

@media screen and (max-width: 950px) {
    .content_03 {
        margin-top: 0;
    }
    .content_03_right {
        margin-bottom: 100px;
    }
    .h2_1,
    .blue_straight {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .h2_1 {
        width: 60%;
        padding: 10%;
        margin: 10%;
        background-color: rgb(255, 255, 255);
    }
    .content_03_left_all {
        width: 100%;
        margin: 0;
    }
    .content_03_left_all img,
    .content_03_right_top img,
    .content_03_right_bottom img {
        width: 80%;
        margin: 10%;
        border: 0px solid rgb(255, 255, 255);
    }
    .content_03_right_top,
    .content_03_right_bottom {
        width: 100%;
        margin: 0;
    }
    .content_03_left,
    .content_03_right {
        width: 100%;
    }
}


@media screen and (max-width: 900px) {
    .h1_3 {
        margin: 80% 0 5% -30%;
    }
    .blue_word_box {
        left: 80%;
        margin-left: 92px;
    }
    .content_01_word_all {
        left: 0%;
    }
    .h1_1 {
        display: none;
    }
    .content_01_about_me {
        font-size: 60px;
        line-height: 1.5;
        top: 50px;
        margin-right: 10%;
    }
    .content_02 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .font_a {
        font-size: 1.5em;
    }
    .content_01 {
        justify-content: center;
        padding-bottom: 0;
    }
   
    .content_01_word_all {
        position: relative;
        z-index: 4;
        left: 0;
    }
    .slogan {
        justify-content: center;
    }
    .slogan_all {
        justify-content: center;
    }
    .content_01_about_me {
        margin: 30px 0;
        width: 300px;
        box-shadow: 0 0 0 #aaa;
    }
    .h1_1 {
        margin: 30px 5% 0 5%;
        border-radius: 5px;
        display: block;
        text-align: right;
        width: 80%;
        padding: 5%;
    }
    .blue_word_box {
        position: relative;
        left: 0;
        margin: 0 auto;
        width: 80%;
        padding: 10% 5%;
    }
    .content_02 {
        margin-top: 60px;
        background-image: none;
    }
    .about_me_word {
        width: 90%;
        position: relative;
        right: 0;
        top: 0;
        margin: 0 5%;
    }
    .about_me_word_p{
        font-size: 1.3rem;
        margin-left: 0px;
    }
    .about_me_ul{
        margin-left: 30px;
    }
    
    .about_me_ul li {
        font-size: 1rem;
    }
       
    .h1_2 {
        margin: 3%;       
        margin-top: 100px;
    }
   
    .h1_4 {
        text-align: center;
        width: 92%;
        margin: 50px 4%;
        padding: 2% 2%;
    }
    
   
    .font_slogan {
        font-size: 6em;
    }
    .slogan_10 {
        margin: 0;
    }
    .font_slogan_straight {
        font-size: 1em;
        margin: 0;
        margin-bottom: 10%;
    }
    .h1_3 {
        width: 80%;
        margin: 40% 10% 5%;
        text-align: left;
    }
    .contact {
        position: relative;
    }
    .h2_1{
        width: 100%;
        margin: 30px 0;
        padding: 36px 3%;
    }
}

img {
    width: 100%;
}

.ct03_warp {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;   
}

.content_03_left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.content_03_right {
    width: 50%;
    margin-bottom: 300px;
}

.content_03 {
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.content_03 {
    position: relative;
    z-index: 0;
    margin-top: 50px 0;
}

.content_03_left_all {
    width: 100%;
    margin: 0;   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content_03_right_top {
    width: 50%;
    margin-bottom: 50%;
    position: relative;
}

.content_03_right_bottom {
    width: 40%;
    margin-left: 10%;
    position: relative;
}

.img_shadow {
    border-radius: 5px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.blue_straight {
    display: flex;
    position: absolute;
}

.blue_straight_01 {
    right: 10%;
    bottom: 90%;
}

.blue_straight_03 {
    left: 10%;
    bottom: 85%;
}

.h2_1 {
    text-align: center;
    width: 300px;
    margin: 30px 10px;
    padding: 60px 3%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    
}

.content_03_bottom {
   width: 100%;
   margin-bottom: 100px;
}


.content_03_word_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}


.h1_4 {
    width: 640px;
    padding: 2% 2%;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.h1_4_h3 {
    color: #7382a3;
    font-size: 1.8em;
}


.up {
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    background-color: #161c2c;
    padding: 8px 10px 13px;
    border-radius: 10px;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1000;
}

.footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #161c2c;
    font-weight: lighter;
    font-size: 12px;
    display: block;
    margin-top: 100px;
}






/**分頁**/

.project_wrap {
    width: 94%;
    margin: 0 3%;
    display: flex;
    flex-wrap: wrap;
}

.project_title {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    text-align: left;
    font-size: 46px;
    margin-top: 100px;
    margin-bottom: 30px;
    line-height: 1.1;
    color: #fff;
}

.project_years {
    width: 100%;
    margin: 40px 0 10px 0;
}

.all_project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project_item {
    text-decoration: none;
    color: #161c2c;
    width: 30%;
    margin-right: 2%;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.project_item img {
    width: 100%;
}

.project_item:hover {
    opacity: 0.5;
}

.rwd_show {
    display: none;
}

.project_item_title {
    color: #161c2c;
    width: 100%;
}

.project_item_about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 30px;
}

.item_pic {
    width: 534px;
    margin-right: 3%;
    margin-bottom: 30px;
}

.item_video {
    margin-right: 3%;
    margin-bottom: 30px;
}

.all_2D_project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item_2D {
    width: 30%;
    margin-bottom: 30px;
}

.item_2D_15 {
    width: 15%;
    margin-bottom: 30px;
}

.item_2D img {
    width: 100%;
}

.item_small {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .rwd_hide {
        display: none;
    }
    .rwd_show {
        display: block;
    }
    .all_project,
    .item_small {
        justify-content: center;
        margin-top: 30px;
    }
    .project_item {
        width: 94%;
        margin: 30px 3%;
    }
    .item_pic {
        width: 90%;
        margin: 0 5%;
        display: flex;
        justify-content: center;
    }
    .item_video {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .item_2D {
        width: 90%;
        margin: 0 5% 30px 5%;
    }
    .item_2D_15 {
        width: 40%;
        margin: 0 5% 30px 5%;
    }
}
